/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #343a40;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

.counterCard {

  padding: 10px;
}

.titleHead {
  padding-top: 35px;
}

.counterCard {
  width: 100%;
}

.bg-darkBlack {
  background-color: #313131;
}

.bg-lightRed {
  background-color: #ec625f;
}

.bg-lightBlack {
  background-color: #525252;
}

.bg-midBlack {
background-color: #414141
}

.txt-darkBlack {
  color: #313131;
}

.txt-lightRed {
  color: #ec625f;
}

.txt-lightBlack {
  color: #525252;
}

.txt-midBlack {
  color: #414141
}

.bg-celadonB {
  background-color: #457B9D
}

.bg-powerB {
  background-color: #A8DADC
}

.bg-honeydew {
  background-color: #F1FAEE
}


.bg-prussianB {
  background-color: #1D3557
}

.bg-imperialRed {
  background-color: #E63946
}


.nav-pills .active {
  background-color: #ec625f !important;
  color: #fff !important;
}


/*Counter numbers*/

@property --totalEnrollees {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#totalEnrollees {
  animation: totalEnrollees 5s 1 alternate ease-in-out forwards;
  counter-reset: num var(--totalEnrollees);
  font: 800 40px system-ui;
}
#totalEnrollees::after {
  content: counter(num);

}

@keyframes totalEnrollees {
  from {
    --totalEnrollees: 0;
  }
  to {
    --totalEnrollees: 26;

  }
}

@property --totalCourses {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#totalCourses {
  animation: totalCourses 3s 1 alternate ease-in-out forwards;
  counter-reset: num var(--totalCourses);
  font: 800 40px system-ui;
}
#totalCourses::after {
  content: counter(num);

}

@keyframes totalCourses {
  from {
    --totalCourses: 0;
  }
  to {
    --totalCourses: 12;

  }
}

@property --totalInstructors {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#totalInstructors {
  animation: totalInstructors 3s 1 alternate ease-in-out forwards;
  counter-reset: num var(--totalInstructors);
  font: 800 40px system-ui;
}
#totalInstructors::after {
  content: counter(num);

}

@keyframes totalInstructors {
  from {
    --totalInstructors: 0;
  }
  to {
    --totalInstructors: 22;

  }
}

@property --totalGraduates {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#totalGraduates {
  animation: totalGraduates 5s 1 alternate ease-in-out forwards;
  counter-reset: num var(--totalGraduates);
  font: 800 40px system-ui;
}
#totalGraduates::after {
  content: counter(num);

}

@keyframes totalGraduates {
  from {
    --totalGraduates: 0;
  }
  to {
    --totalGraduates: 54;

  }
}


